.components-base-video-input-container {
    display: flex;
    flex-direction: column;
}

.components-base-title {
    font-size: 1rem;
}
.components-base-button-container {
    font-size: 1rem;
}

/* CommonSelector */
.components-base-select-container {
    /* display: flex;
    flex-direction: row; */
}
.components-base-select {
    font-weight: 600;
    max-width: 10rem;
}
.components-base-select-option {
    color: #000;
    background: #fff;
}
.components-base-select-option-disabled {
    color: #000;
    background: #ddd;
    font-weight: 600;
}

.components-base-select-title {
}

/* button */

.components-base-button-container {
    display: flex;
    flex-direction: row;
}

.components-base-button {
    background: #fff;
    border: 1px solid #000;
    margin: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}

.components-base-button-selected {
    background: #f00;
}
